@charset "UTF-8";

/*!
 * b_globals.scss by Beezna Group
 * Version - 0.0.1
 *
 * Copyright (c) 2017 Nickos Moustakas
 */

%b-flex {
    @include flexbox;
}

%b-flex-inline {
    @include inline-flex;
}

%b-block-inline {
    display: inline-block;
}

.b-overflow {
    overflow: hidden;
    margin: 0;
}

.b-container {
    margin-right: auto;
    margin-left: auto;
}

.b-hidden {
    display: none;
}

.b-relative {
    position: relative;
}

.b-center-b {
    margin: 0 auto;
    display: block;
}

.b-center-v {
    @include vertical-align(50%);
}

.b-center-f {
    @extend %b-flex;
    justify-content: center;
    align-items: center;
}

.b-img-center {
    margin: 0 auto;
}

.b-bottom {
    position: absolute;
    bottom: 0;
}

.b-push-bottom {
    margin-top: auto;
}

.b-inline-block {
    @extend %b-block-inline;
}

.b-flex {
    @extend %b-flex;
}

.b-flex-end {
    @include justify-content(flex-end);
}

.b-inline-flex {
    @extend %b-flex-inline;
}

.b-flex-space {
    @include justify-content(space-between);
}

.b-flex-item {
    @include flex(1 2);
}

.b-flex-vertical-align {
    @extend %b-flex;
    @include align-items(center);
}

.b-flex-middle {
    @include justify-content(center);
    @include align-items(center);
}

.b-flex-row {
    @extend %b-flex;
    flex-wrap:wrap;
}

.b-vertical-align {
    @include vertical-align(50%);
}

.b-inline {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.b-height {
    height: 100vh;
}

.b-h-100 {
    height: 100%;
}

.b-marg-top-l {
    margin-top: $value-l;
}

.b-marg-bot-xs {
    margin-bottom: $value-xs;
}

.b-marg-bot-s {
    margin-bottom: $value-s;
}

.b-marg-bot-m {
    margin-bottom: $value-m;
}

.b-marg-bot-l {
    margin-bottom: $value-l;
}

.b-marg-bot-xl {
    margin-bottom: $value-xl;
}

.b-marg-bot-xxl {
    margin-bottom: $value-xxl;
}

.b-pad-lr-xs {
    padding-left: $value-xs;
    padding-right: $value-xs;
}

.b-pad-lr-s {
    padding-left: $value-s;
    padding-right: $value-s;
}

.b-pad-lr-m {
    padding-left: $value-m;
    padding-right: $value-m;
}

.b-pad-lr-l {
    padding-left: $value-l;
    padding-right: $value-l;
}

.b-pad-lr-mega {
    padding-left: $value-xxxl;
    padding-right: $value-xxxl;
}

.b-pad-u-l {
    padding-top: $value-l;
}

.b-pad-ud-xxs {
    padding-top: $value-xxs;
    padding-bottom: $value-xxs;
}

.b-pad-ud-xs {
    padding-top: $value-xs;
    padding-bottom: $value-xs;
}

.b-pad-ud-s {
    padding-top: $value-s;
    padding-bottom: $value-s;
}

.b-pad-ud-m {
    padding-top: $value-m;
    padding-bottom: $value-m;
}

.b-pad-ud-l {
    padding-top: $value-l;
    padding-bottom: $value-l;
}

.b-pad-ud-xl {
    padding-top: $value-xl;
    padding-bottom: $value-xl;
}

.b-pad-Ud-m-xs {
    padding: $value-m 0 $value-xs;
}

.b-space-lr-xs {
    > div {
        padding-left: $value-xs;
        padding-right: $value-xs;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.b-responsive-image {
    max-width: 100%;
    display: block;
    height: auto;
}

.b-left {
    float: left;
}

.b-right {
    float: right;
}

.b-clear {
    content: "";
    display: block;
    clear: both;
}

.b-uppercase {
    text-transform: uppercase;
}
