.col-lr-s {
    margin-right: $value-s;
    margin-left: $value-s;
}

.col-ud-s {
    margin-top: $value-s;
    margin-bottom: $value-s;
}

/**
Flex Columns
*/

%colu {
    @extend %b-flex;
    @include flex-flow(row wrap);
    @include justify-content(space-between);
}

.colu {
    @extend %colu;
}

.colu-2 {
    @extend .colu;

    .colif {
        @include flex(1);
    }

    .coliw {
        width: 49%;
    }
}

.colu-3 {
    @extend .colu;

    .colif {
        @include flex(1);
    }

    .coliw {
        width: 32%;
    }
}

.colu-4 {
    @extend .colu;

    .colif {
        @include flex(1);
    }

    .coliw {
        width: 24.5%;
    }
}
