button {
    outline: 0;
    border: 0;
}

select {
    background: transparent;
    border: none;
    outline: 0;
}

input {
    @extend .b-pad-ud-xxs;
}

textarea {
    resize: none;
}

input, textarea {
    outline: 0;
    outline: none;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @include placeholder {
        font-size: 14px;
        color: $colorBlack;
        text-align: center;
    }

    &:focus {
        //border-color: $colorGold;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        outline: none;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
