.b-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


input {
    @extend .b-pad-ud-xs;
}

textarea {
    resize: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border-radius: 5px;
    resize: horizontal
}
  
