/**
General Layout
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:not([class*="scrollbar"]) {
        @include transition(all, 0.5s, ease-in);
    }
}

html {
    -webkit-tap-highlight-color: transparent;

    &.html--noscroll {
        position: relative;
        overflow: hidden;
    }
}

body {
    font-family: AvertaStd-Regular;
    font-size: 14px;
    color: $colorBlack;
    margin: 0;
    @extend .typo-uppercase;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

input, textarea, select {
    font-family: AvertaStd-Regular;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

i {
    vertical-align: middle;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }

    &:focus {
        text-decoration: none;
        color: inherit;
        outline: none;
    }
}

ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: AvertaStd-Black;
    margin: auto;
}
