.typo-r {
    font-family: AvertaStd-Regular;
}

.typo-b {
    font-family: AvertaStd-Black;
}

.typo-white {
    color: $colorWhite;
}

.typo-black {
    color: $colorBlack;
}

.typo-gray {
    color: $colorGray2;
}

.typo-center {
    text-align: center;
}

.typo-left {
    text-align: left;
}

.typo-right {
    text-align: right;
}

.typo-bold {
    font-weight: 700;
}

.typo-uppercase {
    text-transform: uppercase;
}

.typo-reset {
    text-transform: none;
}

.typo-underline {
    text-decoration: underline;
}

.typo-message {
    .header {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
}

.typo-xxs {
    font-size: $font-xxs;
}

.typo-xs {
    font-size: $font-xs;
}

.typo-s {
    font-size: $font-s;
}

.typo-m {
    font-size: $font-m;
}

.typo-l {
    font-size: $font-l;
}

.typo-xl {
    font-size: $font-xl;
}

.typo-xxl {
    font-size: $font-xxl;
}

.typo-xxxl {
    font-size: 48px;
}
