// Colors //

$colorWhite: #ffffff;
$colorBlack: #423f36;

$colorGray: #e6e7e8;
$colorGray2: #918f88;
$colorGray3: #95938c;
$colorGray4: #c3c1ba;
$colorGray5: #d3d1cb;

$colsGap: 35px;

// Values //
$value-xxs: 5px;
$value-xs: 10px;
$value-s: 20px;
$value-m: 30px;
$value-l: 50px;
$value-xl: 100px;
$value-xxl: 150px;
$value-xxxl: 200px;

// z-index //
$zindex-s: 10;
$zindex-m: 50;
$zindex-l: 100;
$zindex-xl: 150;

// Font sizes //
$font-breadcrumb: 5px;
$font-wave: 7px;
$font-small-arrow: 8px;
$font-xxs: 10px;
$font-xs: 11px;
$font-s: 12px;
$font-m: 14px;
$font-l: 16px;
$font-xl: 18px;
$font-xxl: 20px;

// Container
$containerWidth: 1320px;
$containerOuter: 50px;
$containerInner: 300px;

// Special Paddings
$paddingList: 15px;
$paddingSectorUD: 100px;
$paddingSectorLR: 300px;


// Media Breakpoints //
$breakpoint-large-tablet: 1280px;
$breakpoint-tablet: 991px;
$breakpoint-mobile: 767px;
