/*!
 * b_globals.scss by Beezna Group
 * Version - 0.0.1
 *
 * Copyright (c) 2017 Nickos Moustakas
 */
.b-center-f, .b-flex, .b-flex-vertical-align, .b-flex-row, .btn, .colu, .colu-2, .colu-3, .colu-4 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.b-inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.b-inline-block {
  display: inline-block; }

.b-overflow {
  overflow: hidden;
  margin: 0; }

.b-container {
  margin-right: auto;
  margin-left: auto; }

.b-hidden {
  display: none; }

.b-relative {
  position: relative; }

.b-center-b {
  margin: 0 auto;
  display: block; }

.b-center-v {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.b-center-f {
  justify-content: center;
  align-items: center; }

.b-img-center {
  margin: 0 auto; }

.b-bottom {
  position: absolute;
  bottom: 0; }

.b-push-bottom {
  margin-top: auto; }

.b-flex-end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end; }

.b-flex-space {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }

.b-flex-item {
  -webkit-box-flex: 1 2;
  -moz-box-flex: 1 2;
  -webkit-flex: 1 2;
  -ms-flex: 1 2;
  flex: 1 2; }

.b-flex-vertical-align {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.b-flex-middle, .btn {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.b-flex-row {
  flex-wrap: wrap; }

.b-vertical-align {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.b-inline {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.b-height {
  height: 100vh; }

.b-h-100 {
  height: 100%; }

.b-marg-top-l {
  margin-top: 50px; }

.b-marg-bot-xs {
  margin-bottom: 10px; }

.b-marg-bot-s {
  margin-bottom: 20px; }

.b-marg-bot-m {
  margin-bottom: 30px; }

.b-marg-bot-l {
  margin-bottom: 50px; }

.b-marg-bot-xl {
  margin-bottom: 100px; }

.b-marg-bot-xxl {
  margin-bottom: 150px; }

.b-pad-lr-xs {
  padding-left: 10px;
  padding-right: 10px; }

.b-pad-lr-s {
  padding-left: 20px;
  padding-right: 20px; }

.b-pad-lr-m {
  padding-left: 30px;
  padding-right: 30px; }

.b-pad-lr-l {
  padding-left: 50px;
  padding-right: 50px; }

.b-pad-lr-mega {
  padding-left: 200px;
  padding-right: 200px; }

.b-pad-u-l {
  padding-top: 50px; }

.b-pad-ud-xxs, input {
  padding-top: 5px;
  padding-bottom: 5px; }

.b-pad-ud-xs {
  padding-top: 10px;
  padding-bottom: 10px; }

.b-pad-ud-s {
  padding-top: 20px;
  padding-bottom: 20px; }

.b-pad-ud-m {
  padding-top: 30px;
  padding-bottom: 30px; }

.b-pad-ud-l {
  padding-top: 50px;
  padding-bottom: 50px; }

.b-pad-ud-xl {
  padding-top: 100px;
  padding-bottom: 100px; }

.b-pad-Ud-m-xs {
  padding: 30px 0 10px; }

.b-space-lr-xs > div {
  padding-left: 10px;
  padding-right: 10px; }
  .b-space-lr-xs > div:first-child {
    padding-left: 0; }
  .b-space-lr-xs > div:last-child {
    padding-right: 0; }

.b-responsive-image {
  max-width: 100%;
  display: block;
  height: auto; }

.b-left {
  float: left; }

.b-right {
  float: right; }

.b-clear {
  content: "";
  display: block;
  clear: both; }

.b-uppercase {
  text-transform: uppercase; }

.btn {
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  padding: 0;
  margin: 0; }

.col-lr-s {
  margin-right: 20px;
  margin-left: 20px; }

.col-ud-s {
  margin-top: 20px;
  margin-bottom: 20px; }

/**
Flex Columns
*/
.colu, .colu-2, .colu-3, .colu-4 {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }

.colu-2 .colif {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
.colu-2 .coliw {
  width: 49%; }

.colu-3 .colif {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
.colu-3 .coliw {
  width: 32%; }

.colu-4 .colif {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
.colu-4 .coliw {
  width: 24.5%; }

.typo-r {
  font-family: AvertaStd-Regular; }

.typo-b {
  font-family: AvertaStd-Black; }

.typo-white {
  color: #ffffff; }

.typo-black {
  color: #423f36; }

.typo-gray {
  color: #918f88; }

.typo-center {
  text-align: center; }

.typo-left {
  text-align: left; }

.typo-right {
  text-align: right; }

.typo-bold {
  font-weight: 700; }

.typo-uppercase, body {
  text-transform: uppercase; }

.typo-reset {
  text-transform: none; }

.typo-underline {
  text-decoration: underline; }

.typo-message .header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.typo-xxs {
  font-size: 10px; }

.typo-xs {
  font-size: 11px; }

.typo-s {
  font-size: 12px; }

.typo-m {
  font-size: 14px; }

.typo-l {
  font-size: 16px; }

.typo-xl {
  font-size: 18px; }

.typo-xxl {
  font-size: 20px; }

.typo-xxxl {
  font-size: 48px; }

button {
  outline: 0;
  border: 0; }

select {
  background: transparent;
  border: none;
  outline: 0; }

textarea {
  resize: none; }

input, textarea {
  outline: 0;
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #423f36;
    text-align: center; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    font-size: 14px;
    color: #423f36;
    text-align: center; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 14px;
    color: #423f36;
    text-align: center; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 14px;
    color: #423f36;
    text-align: center; }
  input:focus, textarea:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    outline: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.li-l-xs > li {
  padding-left: 10px; }

.li-r-xs > li {
  padding-right: 10px; }

/**
General Layout
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:not([class*="scrollbar"]) {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }

html {
  -webkit-tap-highlight-color: transparent; }
  html.html--noscroll {
    position: relative;
    overflow: hidden; }

body {
  font-family: AvertaStd-Regular;
  font-size: 14px;
  color: #423f36;
  margin: 0; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

input, textarea, select {
  font-family: AvertaStd-Regular; }

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0; }

i {
  vertical-align: middle; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a:focus {
    text-decoration: none;
    color: inherit;
    outline: none; }

ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: AvertaStd-Black;
  margin: auto; }

/*# sourceMappingURL=styles.css.map */
